<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Benza Deus!</a>
      <ul class="nav">
        <li><a href="#">A Bebida</a></li>
        <li><a href="#">Onde Encontrar</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</div>
