<% content_for :head do %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'gmaps.js' %>
  <script type="text/javascript">
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: -30.02770410,
        lng: -51.22873460
      });
    });
  </script>
<% end %>


<div class="span12 hero-unit contents">
  <div id="map" class="span10 hero-unit"></div>
</div>
